a {
  color: white;
}

.pivot {
  background-color: black;
  border-radius: 700px;
  border: 5px solid grey;
  height: 150px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -50px;
  width: 150px;
}

.handle {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: handleAnim;
  background-color: #A51F26;
  height: 130px;
  margin: 0 auto;
  position: relative;
  top: -70px;
  width: 10px;
}

.container {
  background-color: black;
  font-family: 'Roboto';
  font-size: 2rem;
  height: 100%;
  width: 100%;
}

.circle {
  align-items: center;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: circleAnim;
  background-color: #A51F26;
  border-radius: 300px;
  color: black;
  display: flex;
  font-weight: 700;
  height: 200px;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  text-transform: uppercase;
  top: -70px;
  width: 200px;
}

.wait {
  font-size: 2rem;
  font-style: bold;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 0px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.link {
  border-bottom: 2px solid black;
  color: black;
  text-decoration: none;
}

.link:hover {
  background-color: #D6D6D6;
}

p {
  text-align: center;
}


/* Animations */

@keyframes circleAnim {
  0% {
    transform: rotate(-20deg) translate(90px, -20px);
  }
  50% {
    transform: rotate(20deg) translate(-90px, -20px);
  }
  100% {
    transform: rotate(-20deg) translate(90px, -20px);
  }
}

@keyframes handleAnim {
  0% {
    transform: rotate(-20deg) translate(30px, 3px);
  }
  50% {
    transform: rotate(20deg) translate(-30px, -3px);
  }
  100% {
    transform: rotate(-20deg) translate(30px, 3px);
  }
}
