<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta property="og:title" content="Angular Rocks" />
  <meta property="og:description" content="This is the default description" />
  <meta property="og:keywords" content="angular, rocks, default" />
  <title>Angular Rocks</title>
</head>

<body>
  <div class="container">
    <div class="pivot">
    </div>
    <div class="handle">
    </div>
    <div class="circle">
      <p><span class=" glyphicon glyphicon-flash" aria-hidden="true"></span>Under Construction</p>
    </div>
    <p class="wait"><a href="/"><span class=" glyphicon glyphicon-flash" aria-hidden="true"></span>You can see other groups<span class=" glyphicon glyphicon-flash" aria-hidden="true"></span></a></p>
  </div>
</body>
</html>
