<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta property="og:title" content="The Beatles" />
  <meta property="og:description" content="The Beatles were an English rock band formed in Liverpool in 1960. With members John Lennon" />
  <meta property="og:keywords" content="band, rock, 1960" />
  <title>The Rolling Stones</title>
</head>

<body>
  <div class="position-thumbnail-label">
    <h1><a routerLink="/"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></a>  THE BEATLES</h1>
    <div class="row position-thumbnail-label">
      <div class="col-sm-8 col-md-12">
        <div class="thumbnail">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/NCtzkaL2t_Y?list=RDEMDwfWqCd9jXCuVO7pjkJHTw" frameborder="0" allowfullscreen></iframe>
          <div class="caption">
            <h3>The Beatles</h3>
            <p>
              The Beatles were an English rock band formed in Liverpool in 1960. With members John Lennon, Paul McCartney, George Harrison and Ringo Starr, they became widely regarded as the foremost and most influential act of the rock era.[1] Rooted in skiffle, beat
              and 1950s rock and roll, the Beatles later <a class="color" href="https://en.wikipedia.org/wiki/The_Beatles">... read more in Wikipedia</a>
            </p>
            <p><a href="/" class="btn color" role="button">Back Home</a>
              <a href="http://www.thebeatles.com/" class="btn color" role="button">Official Website</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
