<div class="jumbotron">
  <h1>LEGENDS</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>

  <div class="container-main-btn">
    <p><a class="btn btn-primary btn-lg Btn" routerLink="/the-rolling-stones" routerLinkActive= "active">The Rolling Stones</a></p>
    <p><a class="btn btn-primary btn-lg Btn" href="/the-beatles" routerLinkActive= "active" >The Beatles</a></p>
    <p><a class="btn btn-primary btn-lg Btn" routerLink="/queen" routerLinkActive= "active" >Queen</a></p>
  </div>
</div>
