<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta property="og:title" content="The Rolling Stones" />
  <meta property="og:description" content="The Rolling Stones are an English rock band formed in London in 1962." />
  <meta property="og:keywords" content="band, rock, 1962" />
  <title>The Rolling Stones</title>
</head>

<body>
  <div class="position-thumbnail-label">
    <h1><a routerLink="/"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></a>  THE ROLLING STONES</h1>
    <div class="row position-thumbnail-label">
      <div class="col-sm-8 col-md-12">
        <div class="thumbnail">
          <iframe class="video" width="500" height="300" src="https://www.youtube.com/embed/JJZA1TbTBbI?list=PL7sBCGkQNm0A5RzwBP4IHNhPMmqIbIKAE" frameborder="0" allowfullscreen></iframe>
          <div class="caption">
            <h3>The Rolling Stones</h3>
            <p>
              The Rolling Stones are an English rock band formed in London in 1962. The original line-up consisted of Brian Jones (rhythm guitar, harmonica), Mick Jagger (lead vocals), Keith Richards (lead guitar, backing vocals), Bill Wyman (bass), Charlie Watts (drums),
              and Ian Stewart (piano). Stewart was removed from the official line-up in 1963
              <a class="color" href="https://en.wikipedia.org/wiki/The_Rolling_Stones">... read more in Wikipedia</a>
            </p>
            <p><a href="/" class="btn color" role="button">Back Home</a>
              <a href="http://www.rollingstones.com/" class="btn color" role="button">Official Website</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
