<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Rolling Stones</title>
  </head>
  <body>
    <h1>THE ROLLING STONES</h1>
  <div class="line-container">
    <img src="http://bucket2.glanacion.com/anexos/fotos/34/rolling-stones-en-la-argentina-2153434w640.jpg" alt="">
    <iframe class="video" width="500" height="300" src="https://www.youtube.com/embed/JJZA1TbTBbI?list=PL7sBCGkQNm0A5RzwBP4IHNhPMmqIbIKAE" frameborder="0" allowfullscreen></iframe>
  </div>

    <a routerLink="/">Home</a>
  </body>
</html>
