<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm col-md-12 col-lg-12">

      <div>
        <app-header></app-header>

        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="assets/1447234-1.jpg" alt="...">
            </a>
          </div>

          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
          </div>
        </div>

        <app-footer></app-footer>
      </div>

  </div>
</div>
