h1 {
  color: #b7041f;
  font-family: 'Rock Salt', cursive;
  font-size: 8em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

img {
  padding-bottom: 4em;
  padding-top: 4em;
  width: 100%;
}
