<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta property="og:title" content="Angular Rocks" />
  <meta property="og:description" content="This is the default description" />
  <meta property="og:keywords" content="angular, rocks, default" />
  <title>Angular Rocks</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm col-md-12 col-lg-12">

        <div>
          <app-header></app-header>

          <img src="https://mm.aiircdn.com/5/348260.png" alt="">


          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <a href="/the-rolling-stones"><button type="button" class="btn btn-default"><h2><span class="glyphicon glyphicon-music" aria-hidden="true"></span>  The Rolling Stones</h2></button></a>
            </div>
            <div class="btn-group" role="group">
              <a href="/the-beatles"><button type="button" class="btn btn-default"><h2><span class="glyphicon glyphicon-music" aria-hidden="true"></span>  The Beatles</h2></button></a>
            </div>
            <div class="btn-group" role="group">
              <a href="/queen"><button type="button" class="btn btn-default"><h2><span class="glyphicon glyphicon-music" aria-hidden="true"></span>  Queen</h2></button></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
